@model WebApplication1.Models.Faixa
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Nome</li>
    <li>@Model.Graus</li>
</ul>